[user]
	name = Josh Levin
	email = floydaroo@gmail.com
	username = morpheus636
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true